# Primavera XER File to CSV Converter

This notebook helps you parse Primavera P6 XER files and convert them to CSV format.

## What are XER files?
- Tab-delimited text files from Primavera P6
- Contain multiple tables (tasks, resources, calendars, etc.)
- Each table can be exported as a separate CSV

## Usage
1. Set the path to your XER file
2. Run the cells to parse and explore
3. Export specific tables or all tables to CSV

## Setup

In [1]:
import sys
from pathlib import Path
import pandas as pd

# Add project root to path
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root))

from src.utils.xer_parser import XERParser

print("✅ Setup complete")

✅ Setup complete

## Configuration

Set your input XER file path and output directory here:

In [2]:
# INPUT: Path to your XER file
XER_FILE_PATH = "/workspaces/mxi-samsung/data/raw/SAMSUNG-TFAB1-11-20-25- Live-3.xer"

# OUTPUT: Directory for CSV exports
OUTPUT_DIR = "/workspaces/mxi-samsung/data/output/xer_exports"

print(f"Input file: {XER_FILE_PATH}")
print(f"Output directory: {OUTPUT_DIR}")

Input file: /workspaces/mxi-samsung/data/raw/SAMSUNG-TFAB1-11-20-25- Live-3.xer
Output directory: /workspaces/mxi-samsung/data/output/xer_exports

## Parse XER File

This will read the XER file and parse all tables into memory:

In [3]:
# Initialize parser
parser = XERParser(XER_FILE_PATH)

# Parse the file
print("Parsing XER file...")
tables = parser.parse()

print(f"\n✅ Successfully parsed {len(tables)} tables")

Parsing XER file...

✅ Successfully parsed 25 tables

## Explore Available Tables

See what tables are available in your XER file:

In [4]:
# List all tables
print("Available tables:\n")
for i, table_name in enumerate(parser.list_tables(), 1):
    df = parser.get_table(table_name)
    print(f"{i:2d}. {table_name:<20} ({len(df):>6} rows, {len(df.columns):>3} columns)")

Available tables:

 1. CURRTYPE             (    17 rows,  11 columns)
 2. FINTMPL              (     1 rows,   3 columns)
 3. MEMOTYPE             (     6 rows,   7 columns)
 4. NONWORK              (     7 rows,   4 columns)
 5. OBS                  (     1 rows,   6 columns)
 6. PCATTYPE             (     1 rows,   5 columns)
 7. UDFTYPE              (    34 rows,   9 columns)
 8. PCATVAL              (     1 rows,   6 columns)
 9. PROJECT              (     1 rows,  88 columns)
10. APPLYACTOPTIONS      (     1 rows,   2 columns)
11. CALENDAR             (    20 rows,  13 columns)
12. PROJPCAT             (     1 rows,   3 columns)
13. SCHEDOPTIONS         (     1 rows,  25 columns)
14. PROJWBS              (   690 rows,  26 columns)
15. RSRC                 (    31 rows,  33 columns)
16. ACTVTYPE             (    50 rows,   8 columns)
17. RSRCRATE             (    31 rows,  10 columns)
18. TASK                 ( 12433 rows,  67 columns)
19. ACTVCODE             (   735 rows,   8 columns)
20. TASKMEMO             (    75 rows,   5 columns)
21. TASKPRED             ( 28202 rows,  11 columns)
22. TASKPROC             (     6 rows,   9 columns)
23. TASKRSRC             (  3345 rows,  48 columns)
24. TASKACTV             ( 85086 rows,   4 columns)
25. UDFVALUE             ( 40919 rows,   7 columns)

## Get Detailed Summary

View a detailed summary including column names for each table:

In [5]:
summary = parser.summary()

print(f"File: {summary['file_path']}")
print(f"Total tables: {summary['total_tables']}\n")

for table_name, info in summary['tables'].items():
    print(f"\n{table_name}:")
    print(f"  Rows: {info['rows']}")
    print(f"  Columns: {info['columns']}")
    print(f"  Fields: {', '.join(info['column_names'][:10])}{'...' if info['columns'] > 10 else ''}")

File: /workspaces/mxi-samsung/data/raw/SAMSUNG-TFAB1-11-20-25- Live-3.xer
Total tables: 25


CURRTYPE:
  Rows: 17
  Columns: 11
  Fields: curr_id, decimal_digit_cnt, curr_symbol, decimal_symbol, digit_group_symbol, pos_curr_fmt_type, neg_curr_fmt_type, curr_type, curr_short_name, group_digit_cnt...

FINTMPL:
  Rows: 1
  Columns: 3
  Fields: fintmpl_id, fintmpl_name, default_flag

MEMOTYPE:
  Rows: 6
  Columns: 7
  Fields: memo_type_id, seq_num, eps_flag, proj_flag, wbs_flag, task_flag, memo_type

NONWORK:
  Rows: 7
  Columns: 4
  Fields: nonwork_type_id, seq_num, nonwork_code, nonwork_type

OBS:
  Rows: 1
  Columns: 6
  Fields: obs_id, parent_obs_id, guid, seq_num, obs_name, obs_descr

PCATTYPE:
  Rows: 1
  Columns: 5
  Fields: proj_catg_type_id, seq_num, proj_catg_short_len, proj_catg_type, export_flag

UDFTYPE:
  Rows: 34
  Columns: 9
  Fields: udf_type_id, table_name, udf_type_name, udf_type_label, logical_data_type, super_flag, indicator_expression, summary_indicator_expression, export_flag

PCATVAL:
  Rows: 1
  Columns: 6
  Fields: proj_catg_id, proj_catg_type_id, seq_num, proj_catg_short_name, parent_proj_catg_id, proj_catg_name

PROJECT:
  Rows: 1
  Columns: 88
  Fields: proj_id, fy_start_month_num, rsrc_self_add_flag, allow_complete_flag, rsrc_multi_assign_flag, checkout_flag, project_flag, step_complete_flag, cost_qty_recalc_flag, batch_sum_flag...

APPLYACTOPTIONS:
  Rows: 1
  Columns: 2
  Fields: proj_id, respect_duration_type

CALENDAR:
  Rows: 20
  Columns: 13
  Fields: clndr_id, default_flag, clndr_name, proj_id, base_clndr_id, last_chng_date, clndr_type, day_hr_cnt, week_hr_cnt, month_hr_cnt...

PROJPCAT:
  Rows: 1
  Columns: 3
  Fields: proj_id, proj_catg_type_id, proj_catg_id

SCHEDOPTIONS:
  Rows: 1
  Columns: 25
  Fields: schedoptions_id, proj_id, sched_outer_depend_type, sched_open_critical_flag, sched_lag_early_start_flag, sched_retained_logic, sched_setplantoforecast, sched_float_type, sched_calendar_on_relationship_lag, sched_use_expect_end_flag...

PROJWBS:
  Rows: 690
  Columns: 26
  Fields: wbs_id, proj_id, obs_id, seq_num, est_wt, proj_node_flag, sum_data_flag, status_code, wbs_short_name, wbs_name...

RSRC:
  Rows: 31
  Columns: 33
  Fields: rsrc_id, parent_rsrc_id, clndr_id, role_id, shift_id, user_id, pobs_id, guid, rsrc_seq_num, email_addr...

ACTVTYPE:
  Rows: 50
  Columns: 8
  Fields: actv_code_type_id, actv_short_len, seq_num, actv_code_type, proj_id, wbs_id, actv_code_type_scope, export_flag

RSRCRATE:
  Rows: 31
  Columns: 10
  Fields: rsrc_rate_id, rsrc_id, max_qty_per_hr, cost_per_qty, start_date, shift_period_id, cost_per_qty2, cost_per_qty3, cost_per_qty4, cost_per_qty5

TASK:
  Rows: 12433
  Columns: 67
  Fields: task_id, proj_id, wbs_id, clndr_id, phys_complete_pct, rev_fdbk_flag, est_wt, lock_plan_flag, auto_compute_act_flag, complete_pct_type...

ACTVCODE:
  Rows: 735
  Columns: 8
  Fields: actv_code_id, parent_actv_code_id, actv_code_type_id, actv_code_name, short_name, seq_num, color, total_assignments

TASKMEMO:
  Rows: 75
  Columns: 5
  Fields: memo_id, task_id, memo_type_id, proj_id, task_memo

TASKPRED:
  Rows: 28202
  Columns: 11
  Fields: task_pred_id, task_id, pred_task_id, proj_id, pred_proj_id, pred_type, lag_hr_cnt, comments, float_path, aref...

TASKPROC:
  Rows: 6
  Columns: 9
  Fields: proc_id, task_id, proj_id, seq_num, proc_name, complete_flag, proc_wt, complete_pct, proc_descr

TASKRSRC:
  Rows: 3345
  Columns: 48
  Fields: taskrsrc_id, task_id, proj_id, cost_qty_link_flag, role_id, acct_id, rsrc_id, pobs_id, skill_level, remain_qty...

TASKACTV:
  Rows: 85086
  Columns: 4
  Fields: task_id, actv_code_type_id, actv_code_id, proj_id

UDFVALUE:
  Rows: 40919
  Columns: 7
  Fields: udf_type_id, fk_id, proj_id, udf_date, udf_number, udf_text, udf_code_id

## Preview Specific Tables

### Tasks Table

In [6]:
tasks = parser.get_tasks()
if tasks is not None:
    print(f"Tasks table: {len(tasks)} rows\n")
    display(tasks.head(10))
else:
    print("No TASK table found in XER file")

Tasks table: 12433 rows

,task_id,proj_id,wbs_id,clndr_id,phys_complete_pct,rev_fdbk_flag,est_wt,lock_plan_flag,auto_compute_act_flag,complete_pct_type,...,pre_pess_finish_date,post_pess_start_date,post_pess_finish_date,create_date,update_date,create_user,update_user,location_id,control_updates_flag,crt_path_num
0,100225644,122698,18114038,363245,100,N,0,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
1,100225645,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
2,100225646,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
3,100225647,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
4,100225648,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
5,100225649,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
6,100225650,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
7,100225651,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
8,100225652,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
9,100225653,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,

### Projects Table

In [7]:
projects = parser.get_projects()
if projects is not None:
    print(f"Projects table: {len(projects)} rows\n")
    display(projects.head(10))
else:
    print("No PROJECT table found in XER file")

Projects table: 1 rows

,proj_id,fy_start_month_num,rsrc_self_add_flag,allow_complete_flag,rsrc_multi_assign_flag,checkout_flag,project_flag,step_complete_flag,cost_qty_recalc_flag,batch_sum_flag,...,sched_wbs_heir_type,wbs_heir_levels,next_data_date,base_proj_id,base_proj_id1,base_proj_id2,close_period_flag,sum_refresh_date,trsrcsum_loaded,sumtask_loaded
0,122698,1,Y,Y,N,N,Y,N,N,Y,...,WBS_Com,4,,129194,,,,1899-12-30 00:00,,

### Resources Table

In [8]:
resources = parser.get_resources()
if resources is not None:
    print(f"Resources table: {len(resources)} rows\n")
    display(resources.head(10))
else:
    print("No RSRC table found in XER file")

Resources table: 31 rows

,rsrc_id,parent_rsrc_id,clndr_id,role_id,shift_id,user_id,pobs_id,guid,rsrc_seq_num,email_addr,...,curr_id,unit_id,rsrc_type,location_id,ts_approve_user_id,timesheet_flag,rsrc_notes,load_tasks_flag,level_flag,last_checksum
0,49814,50147,61078,,,,,QXGo4I7xAU+YunzjILvWTw,402,,...,1,,RT_Labor,,,N,,,,
1,49815,50147,61078,,,,,4RctCqNbx0eO2XeocXr72w,501,,...,1,,RT_Labor,,,N,,,,
2,49817,50147,61078,,,,,1UVTkvT+OUy3aypriAdbpA,1101,,...,1,,RT_Labor,,,N,,,,
3,49827,50147,61078,,,,,opcDW0rlAkCShgSXGv/OzQ,1001,,...,1,,RT_Labor,,,N,,,,
4,49856,50147,61078,,,,,33CtgB5YMEupuXs3gBruKA,1,,...,1,,RT_Labor,,,N,,,,
5,49858,50147,61078,,,,,XOVWAtRnU02aUCHTgzigdQ,2,,...,1,,RT_Labor,,,N,,,,
6,50043,50046,61078,,,,,TEq0s6oHFE+9HPiFSZaEgQ,1,,...,1,,RT_Equip,,,N,,,,
7,50044,50046,61078,,,,,+l9VepNy2U+ySpdbFIHNaQ,0,,...,1,,RT_Equip,,,N,,,,
8,50045,50046,61078,,,,,Frx/YdiNAUK3hBfObkncxA,101,,...,1,,RT_Equip,,,N,,,,
9,50055,50148,61078,,,,,0ZSXCISStES7xD/pTITxCA,201,,...,1,,RT_Labor,,,N,,,,

### Preview Any Table

Replace 'TABLE_NAME' with any table from the list above:

In [9]:
# Change this to any table name from the list above
TABLE_NAME = "TASK"

df = parser.get_table(TABLE_NAME)
if df is not None:
    print(f"{TABLE_NAME} table:")
    print(f"  Rows: {len(df)}")
    print(f"  Columns: {len(df.columns)}")
    print(f"  Fields: {list(df.columns)}\n")
    display(df.head(20))
else:
    print(f"Table '{TABLE_NAME}' not found")

TASK table:
  Rows: 12433
  Columns: 67
  Fields: ['task_id', 'proj_id', 'wbs_id', 'clndr_id', 'phys_complete_pct', 'rev_fdbk_flag', 'est_wt', 'lock_plan_flag', 'auto_compute_act_flag', 'complete_pct_type', 'task_type', 'duration_type', 'status_code', 'task_code', 'task_name', 'rsrc_id', 'total_float_hr_cnt', 'free_float_hr_cnt', 'remain_drtn_hr_cnt', 'act_work_qty', 'remain_work_qty', 'target_work_qty', 'target_drtn_hr_cnt', 'target_equip_qty', 'act_equip_qty', 'remain_equip_qty', 'cstr_date', 'act_start_date', 'act_end_date', 'late_start_date', 'late_end_date', 'expect_end_date', 'early_start_date', 'early_end_date', 'restart_date', 'reend_date', 'target_start_date', 'target_end_date', 'rem_late_start_date', 'rem_late_end_date', 'cstr_type', 'priority_type', 'suspend_date', 'resume_date', 'float_path', 'float_path_order', 'guid', 'tmpl_guid', 'cstr_date2', 'cstr_type2', 'driving_path_flag', 'act_this_per_work_qty', 'act_this_per_equip_qty', 'external_early_start_date', 'external_late_end_date', 'cbs_id', 'pre_pess_start_date', 'pre_pess_finish_date', 'post_pess_start_date', 'post_pess_finish_date', 'create_date', 'update_date', 'create_user', 'update_user', 'location_id', 'control_updates_flag', 'crt_path_num']

,task_id,proj_id,wbs_id,clndr_id,phys_complete_pct,rev_fdbk_flag,est_wt,lock_plan_flag,auto_compute_act_flag,complete_pct_type,...,pre_pess_finish_date,post_pess_start_date,post_pess_finish_date,create_date,update_date,create_user,update_user,location_id,control_updates_flag,crt_path_num
0,100225644,122698,18114038,363245,100,N,0,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
1,100225645,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
2,100225646,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
3,100225647,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
4,100225648,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
5,100225649,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
6,100225650,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:46,ARAJSHEKAR,jleon,,N,
7,100225651,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
8,100225652,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
9,100225653,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
10,100225654,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
11,100225655,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
12,100225656,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
13,100225657,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
14,100225658,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
15,100225659,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
16,100225660,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
17,100225661,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
18,100225662,122698,18114023,363245,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,
19,100225663,122698,18114023,363246,100,N,1,N,N,CP_Drtn,...,,,,2025-07-16 14:08,2025-11-20 21:42,ARAJSHEKAR,jleon,,N,

## Export to CSV

### Export a Single Table

In [10]:
# Export specific table
TABLE_TO_EXPORT = "TASK"  # Change as needed
OUTPUT_FILE = f"{OUTPUT_DIR}/{TABLE_TO_EXPORT}.csv"

parser.export_table_to_csv(TABLE_TO_EXPORT, OUTPUT_FILE)

Exported 12433 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASK.csv

### Export All Tables

This will create a separate CSV file for each table:

In [11]:
print("Exporting all tables to CSV...\n")
parser.export_all_to_csv(OUTPUT_DIR)
print("\n✅ Export complete!")

Exporting all tables to CSV...

Exported CURRTYPE: 17 rows to /workspaces/mxi-samsung/data/output/xer_exports/CURRTYPE.csv
Exported FINTMPL: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/FINTMPL.csv
Exported MEMOTYPE: 6 rows to /workspaces/mxi-samsung/data/output/xer_exports/MEMOTYPE.csv
Exported NONWORK: 7 rows to /workspaces/mxi-samsung/data/output/xer_exports/NONWORK.csv
Exported OBS: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/OBS.csv
Exported PCATTYPE: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/PCATTYPE.csv
Exported UDFTYPE: 34 rows to /workspaces/mxi-samsung/data/output/xer_exports/UDFTYPE.csv

Exported PCATVAL: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/PCATVAL.csv
Exported PROJECT: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/PROJECT.csv
Exported APPLYACTOPTIONS: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/APPLYACTOPTIONS.csv
Exported CALENDAR: 20 rows to /workspaces/mxi-samsung/data/output/xer_exports/CALENDAR.csv
Exported PROJPCAT: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/PROJPCAT.csv
Exported SCHEDOPTIONS: 1 rows to /workspaces/mxi-samsung/data/output/xer_exports/SCHEDOPTIONS.csv
Exported PROJWBS: 690 rows to /workspaces/mxi-samsung/data/output/xer_exports/PROJWBS.csv
Exported RSRC: 31 rows to /workspaces/mxi-samsung/data/output/xer_exports/RSRC.csv
Exported ACTVTYPE: 50 rows to /workspaces/mxi-samsung/data/output/xer_exports/ACTVTYPE.csv
Exported RSRCRATE: 31 rows to /workspaces/mxi-samsung/data/output/xer_exports/RSRCRATE.csv

Exported TASK: 12433 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASK.csv
Exported ACTVCODE: 735 rows to /workspaces/mxi-samsung/data/output/xer_exports/ACTVCODE.csv
Exported TASKMEMO: 75 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASKMEMO.csv

Exported TASKPRED: 28202 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASKPRED.csv
Exported TASKPROC: 6 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASKPROC.csv
Exported TASKRSRC: 3345 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASKRSRC.csv

Exported TASKACTV: 85086 rows to /workspaces/mxi-samsung/data/output/xer_exports/TASKACTV.csv

Exported UDFVALUE: 40919 rows to /workspaces/mxi-samsung/data/output/xer_exports/UDFVALUE.csv

✅ Export complete!

## Data Analysis Examples

### Task Statistics

In [12]:
tasks = parser.get_tasks()
if tasks is not None:
    print("Task Statistics:\n")
    print(f"Total tasks: {len(tasks)}")
    
    # Check for common fields
    if 'task_name' in tasks.columns:
        print(f"\nSample task names:")
        print(tasks['task_name'].head(10).to_string())
    
    if 'status_code' in tasks.columns:
        print(f"\nTasks by status:")
        print(tasks['status_code'].value_counts())
    
    # Show all available columns
    print(f"\nAvailable columns ({len(tasks.columns)}):")
    print(list(tasks.columns))

Task Statistics:

Total tasks: 12433

Sample task names:
0                OWNER - TEMPORARY WATER FOR FAB & SUP
1    DS/AD STEEL SPRAY FIREPROOFING SFRM - SEB1- GL...
2    IMPACT SCAFFOLDING PLATFORM APPROVAL AND INSTA...
3    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA4 ...
4    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA3 ...
5    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA2 ...
6    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA1 ...
7    IMPACT - STARCON BASE PLATE WELDING & HORZ BEA...
8    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA5 ...
9    DSAD PENETRATION SUPPORT STEEL FRAMING - SEA5 ...

Tasks by status:
status_code
TK_Complete    10076
TK_NotStart     1594
TK_Active        763
Name: count, dtype: int64

Available columns (67):
['task_id', 'proj_id', 'wbs_id', 'clndr_id', 'phys_complete_pct', 'rev_fdbk_flag', 'est_wt', 'lock_plan_flag', 'auto_compute_act_flag', 'complete_pct_type', 'task_type', 'duration_type', 'status_code', 'task_code', 'task_name', 'rsrc_id', 'total_float_hr_cnt', 'free_float_hr_cnt', 'remain_drtn_hr_cnt', 'act_work_qty', 'remain_work_qty', 'target_work_qty', 'target_drtn_hr_cnt', 'target_equip_qty', 'act_equip_qty', 'remain_equip_qty', 'cstr_date', 'act_start_date', 'act_end_date', 'late_start_date', 'late_end_date', 'expect_end_date', 'early_start_date', 'early_end_date', 'restart_date', 'reend_date', 'target_start_date', 'target_end_date', 'rem_late_start_date', 'rem_late_end_date', 'cstr_type', 'priority_type', 'suspend_date', 'resume_date', 'float_path', 'float_path_order', 'guid', 'tmpl_guid', 'cstr_date2', 'cstr_type2', 'driving_path_flag', 'act_this_per_work_qty', 'act_this_per_equip_qty', 'external_early_start_date', 'external_late_end_date', 'cbs_id', 'pre_pess_start_date', 'pre_pess_finish_date', 'post_pess_start_date', 'post_pess_finish_date', 'create_date', 'update_date', 'create_user', 'update_user', 'location_id', 'control_updates_flag', 'crt_path_num']

### Filter and Export Subset

In [13]:
# Example: Export only active tasks
tasks = parser.get_tasks()
if tasks is not None and 'status_code' in tasks.columns:
    active_tasks = tasks[tasks['status_code'] == 'TK_Active']
    output_file = f"{OUTPUT_DIR}/active_tasks.csv"
    active_tasks.to_csv(output_file, index=False)
    print(f"Exported {len(active_tasks)} active tasks to {output_file}")
else:
    print("Cannot filter tasks - check available columns")

Exported 763 active tasks to /workspaces/mxi-samsung/data/output/xer_exports/active_tasks.csv

## Custom Data Processing

Add your own processing logic here:

In [14]:
# Your custom code here
# Example: Merge tables, filter data, create summaries, etc.